.sign-in-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  background: var(--light-grey);
}

.sign-in-container h1 span {
  color: var(--dark-grey);
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 3rem */
}

#form-container {
  display: flex;
  padding: 2.5rem;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  gap: 2.5rem;
}

#form-title {
  color: var(--dark-grey);
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 3rem */
}

#form-description {
  color: var(--grey);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.5rem */
}

#form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

#form label {
  display: flex;
  flex-direction: column;
  color: var(--dark-grey);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.125rem */
}

#form label div {
  border-radius: 0.5rem;
  border: 1px solid var(--borders, #d9d9d9);
  background: var(--white, #fff);
  display: flex;
  width: 24.75rem;
  padding: 0.75rem 1rem;
  align-items: center;
  gap: 0.75rem;
}

#form input {
  width: 100%;
  border: 0;
}

#form input:focus {
  outline: none;
}

#form button {
  display: flex;
  padding: 0.6875rem 1.6875rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
  border-radius: 0.5rem;
  border: 0;
  background: var(--purple, #633cff);
  appearance: none;
  color: white;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 1.5rem */
}
